

  .page-admin-redmine-sync .messages {
    max-height: 500px;
    overflow: scroll}

  .form_instead-message {
    margin: 10px 0;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #777;
    background: #eee}

  .form_instead-message-error {
    color: #e75000;
    border-color: #e75000;
    background-color: #ffe0d7}

  .form_instead-message-warning {
    color: #cd9400;
    border-color: #e7a800;
    background-color: #ffefd7}

  .datepicker-icon {
    margin-left: 2px;
    padding: 0 8px;
    background: url('/misc/ui/images/ui-icons_222222_256x240.png') -112px -112px}

  #redmine-sync-manage-form .form-submit {
    margin: 5px 0 0 0}
